extends layout

block content
  .row
    .col-lg-12
      h1 List #{_s.humanize(req.params.entity)} 
        small: a.btn.btn-primary.btn-xs(type='button', href='#{req.baseUrl}/object/#{req.params.entity}/_new') New #{_s.humanize(req.params.entity)}
      hr

      - var entity = core.model.entities[req.params.entity]
      - var fields = entity.fields

      .table-responsive
        table.table.table-bordered.table-striped
          colgroup
            col.col-xs-1
            col.col-xs-7
          thead
            tr
              each field in _.keys(fields)
                th= _s.humanize(field)
              th
          tbody
            each id in ids
              - var object = objects[id]
              tr
                each field in _.keys(fields)
                  td= object.get(field)
                td
                  .btn-group.pull-right
                    a.btn.btn-primary.btn-sm(type='button', href='#{req.baseUrl}/object/#{req.params.entity}/#{id}') Edit
                    a.btn.btn-danger.btn-sm(type='button') Delete

      ul.pagination
        li.disabled
          a(href='#') «
        li.active
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
        li
          a(href='#') 5
        li
          a(href='#') »


