doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='#{req.baseUrl}/css/bootstrap.min.css', media='screen')
    title Backbeam
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href=req.baseUrl) Backbeam
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              a#menu-entities.dropdown-toggle(data-toggle='dropdown', href='#') Entities 
                span.caret
              ul.dropdown-menu(aria-labelledby='menu-entities')
                //- li
                //-   a(href='#{req.baseUrl}/entity/_new/edit') New entity
                //- li.divider
                each key in _.keys(core.model.entities)
                  li
                    a(href='#{req.baseUrl}/entity/#{key}')= _s.humanize(key)
            li.dropdown
              a#menu-view.dropdown-toggle(data-toggle='dropdown', href='#') View
                span.caret
              ul.dropdown-menu(aria-labelledby='menu-view')
                li
                  a(href='#{req.baseUrl}/email-templates') Email templates
                li
                  a(href='#{req.baseUrl}/push') Push notifications
                li
                  a(href='#{req.baseUrl}/logs') Logs
                li
                  a(href='#{req.baseUrl}/stats') Statistics
            //- li
            //-   a(href='#{req.baseUrl}/web') Web development
            //- li
            //-   a#menu-configuration.dropdown-toggle(data-toggle='dropdown', href='#') Configuration
            //-     span.caret
            //-   ul.dropdown-menu(aria-labelledby='menu-configuration')
            //-     li
            //-       a(href='#{req.baseUrl}/configuration/general') General settings
            //-     li
            //-       a(href='#{req.baseUrl}/configuration/authentication') Users authentication
            //-     li
            //-       a(href='#{req.baseUrl}/configuration/push') Push notifications
            //-     li
            //-       a(href='#{req.baseUrl}/configuration/email') Email settings
          //- ul.nav.navbar-nav.navbar-right
          //-   li
          //-     a(href='#') Log out

    .container(style='margin-top: 60px')
      block content


    script(src='#{req.baseUrl}/js/jquery-1.11.1.min.js')
    script(src='#{req.baseUrl}/js/bootstrap.min.js')
