include cell-field-value

.row
  .col-lg-12
    - var entity = core.model.findEntity(req.params.entity)
    - var fields = entity.fields
    - var btnclass = req.query.where ? 'btn-danger' : 'btn-primary'
    - var btntext = req.query.action

    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            each field in fields
              th= _s.humanize(field.id)
            th
        tbody
          each id in ids
            - var object = objects[id]
            tr
              - var description
              each field in fields
                - var value = object.get(field.id)
                +field_cell_value(objects, field, value)
              td
                .btn-group.pull-right
                  a.btn.btn-sm.object-choose(type='button', class=btnclass,
                    href=nolink, data-id=object._id, data-description=object.description())= btntext

    include pagination
