- var formid = 'form-'+id()
br
form(role='form', method='post', action='#{req.baseUrl}/web/lib', id=formid)
  input(type='hidden', name='oldfilename', value=req.params.filename)
  .row
    .col-lg-12
      .form-group
        .input-group
          input.form-control(type='text', name='filename', value=req.params.filename)
          span.input-group-btn
            button.btn.btn-primary(type='submit') Save changes
            a.btn.btn-danger(href=nolink, data-url='#{req.baseUrl}/web/lib/#{req.params.filename}?_method=DELETE') Delete

  .row
    .col-lg-12
      textarea.code-editor.full-height(name='source', data-mode='javascript')= source

script.
  var form = $('##{formid}')
  form.on('submit', function(e) {
    e.preventDefault()
    var textarea = form.find('textarea')
    var editor = textarea.data('CodeMirrorInstance')
    textarea.val(editor.getValue())

    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      data: form.serialize(),
      dataType: 'json',
      success: function(data) {
        var filename = form.find('[name=filename]').val()
        form.find('[name=oldfilename]').val(filename)
        tabManager.updateCurrentTabName(filename)
        var url = backbeam.baseUrl+'/web/lib/'+filename
        tabManager.updateCurrentTabURL(url)
        tabManager.refreshOverview()
      },
    })
  })

  form.on('click', '.btn-danger', function(e) {
    e.preventDefault()
    var url = $(this).attr('data-url')
    swal({
      title: 'Are you sure?',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#DD6B55',
      confirmButtonText: 'Yes, delete it!',
      closeOnConfirm: false
    }, function() {
      $.ajax({
        url: url,
        type: 'post',
        dataType: 'json',
        success: function(data) {
          swal('Deleted!', 'The file has been deleted', 'success')
          tabManager.closeActiveTab()
          tabManager.refreshOverview()
        },
      })
    })
  })

