.row
  .col-lg-12
    h2 Controllers
    .table-responsive
      table.table.table-bordered.table-striped
        colgroup
          col.col-xs-1
          col.col-xs-5
          col.col-xs-3
          col.col-xs-1
          col.col-xs-2
        thead
          tr
            th Method
            th Path
            th File
            th Action
            th
        tbody
          each route in routes
            tr
              td: span.label.label-success= route.method
              td: code= route.path
              td= route.file
              td= route.action || 'run'
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm.opens-tab(
                    type='button',
                    data-href='#{req.baseUrl}/web/controller/#{route.file}',
                    data-name='#{route.method} #{route.path}',
                  ) Edit
                  a.btn.btn-info.btn-sm(type='button') Test
.row
  .col-lg-6
    h2 Views
    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th Name
        tbody
          each view in views
            tr
              td: a.opens-tab(
                href=nolink,
                data-href='#{req.baseUrl}/web/view/#{view}',
                data-name=view,
              )= view
  .col-lg-6
    h2 Libs
    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th Name
        tbody
          each lib in libs
            tr
              td: a.opens-tab(
                href=nolink,
                data-href='#{req.baseUrl}/web/lib/#{lib}',
                data-name=lib,
              )= lib

script backbeam.configureQuickSearch({ routes: !{JSON.stringify(routes)}, libs: !{JSON.stringify(libs)}, views: !{JSON.stringify(views)} })
