extends layout

block content
  .row
    .col-lg-12
      div(role='tabpanel')
        ul.nav.nav-tabs#editor-tabs(role='tablist')
          li.dropdown(role='presentation')
            a#options.dropdown-toggle(href='#', data-toggle='dropdown', aria-controls='options-contents', aria-expanded='false')
              | Options 
              span.caret
            ul#options-contents.dropdown-menu(role='menu', aria-labelledby='options')
              li
                a(data-target='#open-file', tabindex='-1', role='tab', data-toggle='modal', aria-controls='dropdown1') Open… 
                  kbd: kbd cmd
                    | + 
                    kbd O
              li.divider(role='presentation')
              li
                a(data-target='#new-view',
                  data-toggle='modal',
                  tabindex='-1',
                  role='tab',
                  aria-controls='dropdown1') New view…
              li
                a(data-target='#new-controller',
                  data-toggle='modal',
                  tabindex='-1',
                  role='tab',
                  aria-controls='dropdown1') New controller…
              li
                a(data-target='#new-lib',
                  data-toggle='modal',
                  tabindex='-1',
                  role='tab',
                  aria-controls='dropdown1') New lib…
              li
                a(data-target='#new-asset',
                  data-toggle='modal',
                  tabindex='-1',
                  role='tab',
                  aria-controls='dropdown1') New asset…
              li.divider(role='presentation')
              li
                a#close-all(href=nolink, tabindex='-1', role='tab', aria-controls='dropdown2') Close all
          li#editor-latest-tab

      #editors

  #open-file.modal(tabindex='-1', role='dialog', aria-labelledby='open-file-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          form(role='form')
            .form-group
              label(for='quick-search') Start writing the name of any view, controller or lib
              input#quick-search.form-control(type='text', placeholder='')

  #new-view.modal(tabindex='-1', role='dialog', aria-labelledby='new-view-label', aria-hidden='true')
    form(role='form')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#new-view-label.modal-title New view
          .modal-body
            .form-group
              label.control-label(for='filename') File name:
              input.form-control(type='text', name='filename', placeholder='index.html')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Create view

  #new-controller.modal(tabindex='-1', role='dialog', aria-labelledby='new-controller-label', aria-hidden='true')
    form(role='form')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#new-controller-label.modal-title New controller
          .modal-body
            .form-group
              label.control-label(for='method') HTTP method:
              - var methods = ['GET', 'POST', 'PUT', 'DELETE']
              select.form-control
                each method in methods
                  option(value=method)= method
            .form-group
              label.control-label(for='path') Path:
              input.form-control(type='text', name='path', placeholder='/path')
            .form-group
              label.control-label(for='filename') File name:
              input.form-control(type='text', name='filename', placeholder='controller.js')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Create controller

  #new-lib.modal(tabindex='-1', role='dialog', aria-labelledby='new-lib-label', aria-hidden='true')
    form(role='form')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#new-lib-label.modal-title New lib
          .modal-body
            .form-group
              label.control-label(for='filename') File name:
              input.form-control(type='text', name='filename', placeholder='index.html')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Create lib

  #new-asset.modal(tabindex='-1', role='dialog', aria-labelledby='new-asset-label', aria-hidden='true')
    form(role='form')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#new-asset-label.modal-title New asset
          .modal-body
            .form-group
              label.control-label(for='filename') File name:
              input.form-control(type='text', name='filename', placeholder='/css/style.css')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Create asset

block scripts
  script.
    backbeam.baseUrl = '#{req.baseUrl}'
    var tabManager = backbeam.configureWebDevelopment({})
    $('#open-file').on('shown.bs.modal', function(e) {
      $('#quick-search').focus()
    })
    $('#close-all').on('click', function(e) {
      // TODO: prompt
      tabManager.closeAll()
    })
